body{
   background-image: url("../img/car3.jpg");
   background-size: cover;

 }

element.style {
   }
   .major-section {
       margin: 20px;
       padding: 25px;
       border-top: solid 1px #000000;
       border-bottom: solid 1px #000000;
       border-left: dashed 1px #000000;
       border-right: dashed 1px #000000;
       border-radius: 50px;
       background-color: rgba(255, 20, 147, 0.4);

 }
      div.image {
          max-width:100%;
          float: right;
          margin: 20px;

  }
     img {
       max-width:100%;
       float: left;
       margin: 20px;
}




nav {
    display: block;
}

body {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Sarina', cursive;
  text-align: center;
}


p {
        text-transform: lowercase;
        font-size: 1.2em;
        word-spacing: 0.5em;
        font-family: times new roman;
        padding-bottom: 0;
        margin-bottom: 0.25em;
        color:#000;
        text-align: center

}

h3 {
      font-family: Sarina;
      display: block;
      text-transform: lowercase;
      font-size: 2.3em;
      text-shadow: 0 0 2px #000;
      font-weight: bold;
      letter-spacing: 0.01em;
      word-spacing: 0.1em;
      color: #f2b352
}

h2 {
      text-decoration: underline overline wavy #662549;
      font-family: Sarina;
      display: block;
      text-transform: lowercase;
      font-size: 2.6em;
      text-shadow: 0 0 2px #000;
      font-weight: bold;
      letter-spacing: 0.01em;
      word-spacing: 0.1em;
      color: #f2b352
}

h1  {
        font-family: Oleo Script Swash Caps;
        display: block;
        text-transform: lowercase;
        font-size: 2.6em;
        text-shadow: 0 0 3px #000;
        font-weight: bold;
        letter-spacing: 0.01em;
        word-spacing: 0.1em;
        color: #a45dae




      }

      nav {
          position: sticky;
           top: 0;
           background-color: rgba(255, 20, 147, 0.4);
           border: dotted 1px #000;
           border-radius: 50px;
           color: #a45dae;
           text-align: center;
         }

         nav a {
           color: #a45dae;
         }

         * {
           box-sizing: border-box;

       }



    }


    aside {
      width: 200px;
      padding-left: 15px;
      margin-left: 15px;
      float: left;
      font-style: italic;
      background-color: lightgray;
    }

    img {
    width: 200px;
    }
