html, body {
  background-image:
  radial-gradient(white, pink, orange);

}
#content {
  display: inline-block;
  width: 60%;
  margin: 20px;
  padding: 50px;
  background-color:rgba(166, 166, 255, 0.5);
  border: 30px dotted #d2cefc;

}

h1 {
  color: #764c79;
  font-size: 50px;
}
h2 {
  color: orange;
  font-size: 30px;
}
p {
  font-family: "times new roman", sans-serif;
  word-spacing: 5px;
  line-height:130%;
  font-size:17px;
  text-indent: 20px;
  margin-left: 10px;
